*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading{
font-size:60px;
width: 600px;
font-weight: 700;
background: linear-gradient(90deg, #00416A 0%, #E4E5E6 100%);
font-style: normal;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-top: 100px;
font-style: normal;
margin-left: 20px;
/* font-family: sans-serif; */
}

.subheading{
 font-size: 20px;
 font-weight: bold;
 font-family: sans-serif;
 width: 500px;
 margin-left: 20px;
 margin-top: 10px;
}


.class-list-container{
    display: flex;
    overflow-x: scroll;
    width: 100%;   
    margin-top: 20px;
}

.class-list-container button{
    flex-direction: row;
    padding: 4px 40px;
    background: transparent;
    border: 1px solid black;
    border-radius: 10px;
}


::-webkit-scrollbar {
    width: 0px;
  }

.btn-list{
    display: flex;
}

.classlist-head{
    font-family: sans-serif;
    text-align: center;
    margin-top: 90px;
}

.content{
    display: flex;
}
.booksession{
margin-top: 20px;
}


.learning-img{
    margin-left: 25%;
    
}

.img-head{
    text-align: center;
    font-family: sans-serif;
}


.learning-btn{
   margin-left: 40%;
   padding: 10px;
   border-radius: 20px;
   color: white;
   background-color: rgb(177, 34, 177);
   border: 1px solid black;
}